body {
  margin: auto;
  padding: 0px;
  background-color: #394867;
  opacity: 0.9;
  font-family: Comic Sans MS;
}
#fitnav {
  position: relative;
  margin: 0 auto;
}
.navcolor {
  background-color: #f1f6f9;
  opacity: 10;
}
.navbar-brand {
  padding-left: 1%;
  font-family: Comic Sans MS;
  font-size: x-large;
}
.navbar-text {
  font-family: Comic Sans MS;
  padding-right: 1%;
  font-size: x-large;
}
#navbarCenter {
  margin-left: 25%;
  font-size: medium;
}
.mainpostion {
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Comic Sans MS;
  color: aliceblue;
  padding-left: 15px;
}
.postion2 {
  margin-top: 25px;
  padding-top: 5%;
  margin-left: 20%;
  width: 1000px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(245, 245, 245, 0.544);
  -moz-box-shadow: 0px 0px 20px 10px rgba(245, 245, 245, 0.544);
  box-shadow: 0px 0px 20px 10px rgba(245, 245, 245, 0.544);
  border-radius: 10px 10px 10px 10px;
  padding-left: 100px;
}
.postion {
  opacity: 18;
  box-shadow: inset;
}
#namesize {
  font-size: 7ch;
  font-style: italic;
  color: rgba(255, 132, 0, 0.902);
  text-shadow: 100px 100px 100px 100px rgba(243, 157, 65, 0.9);
}
.icons {
  padding-left: 0%;
  padding-top: 0%;
}
.iconsadjust {
  padding-right: 3%;
  display: inline;
  size: 5ch;
}
.edubox {
  text-align: center;
  margin-bottom: 5%;
  font-size: larger;
  font-family: Comic Sans MS;
  margin-top: 5%;
}
.educontain {
  margin-left: 20%;
  margin-right: 20%;
}
.col-md-4 {
  padding-left: 20%;
}
.col-md-8 {
  padding-left: 15%;
  padding-right: 15%;
}
.imageedu {
  height: 300px;
  width: 300px;
}
.educationbox {
  display: inline-flexbox;
  font-family: Comic Sans MS;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #eeeeee47;
  opacity: 0.9;
  padding-top: 1%;
  padding-bottom: 2%;
  box-shadow: 0px 0px 2px 5px #fffbec74;
  color: aliceblue;
}
.card-body-1 {
  margin-left: 50%;
  width: 100%;
  text-align: center;
}
.card-body {
  margin-top: 10%;
  margin-left: 50%;
  width: 100%;
  text-align: center;
}
.card-body-2 {
  width: 200%;
  padding-left: 1%;
  text-align: center;
  margin-top: 5%;
  font-size: medium;
  padding-top: 5%;
}
.card-body-3 {
  width: 200%;
  padding-left: 1%;
  text-align: center;
  margin-top: 5%;
  font-size: medium;
  padding-top: 5%;
}
.projecthead {
  text-align: center;
  margin-top: 5%;
  font-family: Comic Sans MS;
  color: aliceblue;
}
.projectbox {
  display: flex;
  align-items: center; 
}
.card-group {
  margin-left: 10%;
  margin-right: 10%;
  height: 400px;
}
.card {
  align-items: center;
  padding-right: 10%;
  margin-right: 5%;
}
#fitfooter {
  display: inline;
  align-items: flex-end;
}
#follow {
  padding-left: 15%;
}
#color {
  background-color: #929fba;
  margin-top: 20%;
  padding-left: 0%;
}
#btncolor {
  background-color: #3b5998;
}
#date {
  background-color: #505256;
  margin-bottom: 0%;
}
#adjust{
  margin-top: 5%;
  width: 1000px;
  color: aliceblue;
  font-size: medium;
  
}
h1{
  text-align: center;
  padding-bottom: 5%;
}
.App {
  padding: 5%;
  text-align: center;
  font-size: 16px;
}



.fade {
  animation-name: fade-in;
  animation-duration: 3s;
}

.age-stats {
  opacity: 100;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.button {
  margin: 3%;
}

.control {
  width: 325px;
  margin: 0 auto;
  float: none;
}
@keyframes animate {
  from {
    text-shadow: 0 0 80px rgba(255, 132, 0, 0.902);
  }
  to {
    text-shadow: 0 0 80px rgba(255, 132, 0, 0.902),
      0 0 40px rgba(255, 132, 0, 0.902);
  }
}
