/* This is a CSS code that defines the styling and layout of a webpage. It sets the background color,
font family, and size for various elements such as the navbar, main content, education section,
project section, and footer. It also includes animations such as fade-in and text-shadow effects. */

/* The CSS code `body` is setting the styling and layout for the entire webpage. It sets the margin to
`auto`, which centers the webpage horizontally within the browser window. It sets the padding to
`0px`, which removes any padding around the edges of the webpage. It sets the background color to
`#394867`, which is a dark blue color. It sets the opacity to `0.9`, which makes the webpage
slightly transparent. It sets the font family to `Comic Sans MS`, which is a font style. */
body {
  margin: auto;
  padding: 0px;
  background-color: #394867;
  opacity: 0.9;
  font-family: Comic Sans MS;
}
/* The CSS code is defining the styling and layout for the navigation bar of the webpage. */
#fitnav {
  position: relative;
  margin: 0 auto;
}
.navcolor {
  background-color: #f1f6f9;
  opacity: 10;
}
.navbar-brand {
  padding-left: 1%;
  font-family: Comic Sans MS;
  font-size: x-large;
}
.navbar-text {
  font-family: Comic Sans MS;
  padding-right: 1%;
  font-size: x-large;
}
#navbarCenter {
  margin-left: 25%;
  font-size: medium;
}
/* This CSS code is defining the styling and layout for various elements on a webpage. */
.mainpostion {
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Comic Sans MS;
  color: aliceblue;
  padding-left: 15px;
}
.postion2 {
  margin-top: 25px;
  padding-top: 5%;
  margin-left: 20%;
  width: 1000px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(245, 245, 245, 0.544);
  -moz-box-shadow: 0px 0px 20px 10px rgba(245, 245, 245, 0.544);
  box-shadow: 0px 0px 20px 10px rgba(245, 245, 245, 0.544);
  border-radius: 10px 10px 10px 10px;
  padding-left: 100px;
}
.postion {
  opacity: 18;
  box-shadow: inset;
}
#namesize {
  font-size: 7ch;
  font-style: italic;
  color: rgba(255, 132, 0, 0.902);
  text-shadow: 100px 100px 100px 100px rgba(243, 157, 65, 0.9);
}
.icons {
  padding-left: 0%;
  padding-top: 0%;
}
.iconsadjust {
  padding-right: 3%;
  display: inline;
  size: 5ch;
}
.edubox {
  text-align: center;
  margin-bottom: 5%;
  font-size: larger;
  font-family: Comic Sans MS;
  margin-top: 5%;
}
.educontain {
  margin-left: 20%;
  margin-right: 20%;
}
.col-md-4 {
  padding-left: 20%;
}
.col-md-8 {
  padding-left: 15%;
  padding-right: 15%;
}
/* The `.imageedu` CSS class is setting the height and width of an image element to 300 pixels each.
This is likely used to ensure that all images in the education section of the webpage are uniform in
size and layout. */
.imageedu {
  height: 300px;
  width: 300px;
}
/* The `.educationbox` CSS class is defining the styling and layout for a container element that holds
information about education. It sets the display property to `inline-flexbox`, which allows the
container to be displayed as an inline-level flex container. It also sets the font family, margin,
background color, opacity, padding, box shadow, and text alignment properties for the container.
These properties are used to create a visually appealing and organized layout for the education
section of the webpage. */
.educationbox {
  display: inline-flexbox;
  font-family: Comic Sans MS;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #eeeeee47;
  opacity: 0.9;
  padding-top: 1%;
  padding-bottom: 5%;
  box-shadow: 0px 0px 2px 5px #fffbec74;
  color: aliceblue;
  text-align:center;
  
}

/* `.projecthead` is a CSS class that is defining the styling and layout for a heading element in the
project section of the webpage. It sets the text alignment property to center, the margin property
to 5% from the top, the font family property to Comic Sans MS, and the color property to aliceblue.
This is used to create a visually appealing and organized layout for the project section of the
webpage. */
.projecthead {
  text-align: center;
  margin-top: 5%;
  font-family: Comic Sans MS;
  color: aliceblue;
}
/* `.projectbox` is a CSS class that is defining the styling and layout for a container element in the
project section of the webpage. It sets the `display` property to `flex`, which allows the container
to be displayed as a flex container. It also sets the `align-items` property to `center`, which
centers the items within the container vertically. This is used to create a visually appealing and
organized layout for the project section of the webpage. */
.projectbox {
  display: flex;
  align-items: center; 
}
/* `.card-group` is a CSS class that is defining the styling and layout for a group of card elements in
the project section of the webpage. It sets the `margin-left` and `margin-right` properties to
`10%`, which creates a margin on the left and right sides of the card group. It also sets the
`height` property to `400px`, which sets the height of the card group to `400px`. This is used to
create a visually appealing and organized layout for the project section of the webpage. */
.card-group {
  margin-left: 10%;
  margin-right: 10%;
  height: 400px;
}
.card {
  align-items: center;
  padding-right: 10%;
  margin-right: 5%;
}
#exampleFormControlTextarea1{
  text-align: center;
  font-size: larger;
  padding-top: 10%;
}
/* `#fitfooter` is a CSS selector that targets an HTML element with the ID of "fitfooter". The CSS code
that follows sets the `display` property to `inline` and the `align-items` property to `flex-end`.
This is used to align the content within the footer section of the webpage to the bottom of the
container element and display it inline with other elements. */
#fitfooter {
  display: inline;
  align-items: flex-end;
}
#follow {
  padding-left: 15%;
}
#color {
  background-color: #929fba;
  margin-top: 20%;
  padding-left: 0%;
}
#btncolor {
  background-color: #3b5998;
}
#date {
  background-color: #505256;
  margin-bottom: 0%;
}
#adjust{
  margin-top: 5%;
  width: 1000px;
  color: aliceblue;
  font-size: medium;
  
}
#btn1{
  margin-top: 3%;
}
h1{
  text-align: center;
  padding-bottom: 5%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.control {
  width: 325px;
  margin: 0 auto;
  float: none;
}
@keyframes animate {
  from {
    text-shadow: 0 0 80px rgba(255, 132, 0, 0.902);
  }
  to {
    text-shadow: 0 0 80px rgba(255, 132, 0, 0.902),
      0 0 40px rgba(255, 132, 0, 0.902);
  }
}